.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #8e0e00, #1f1c18);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.3rem;
  filter: brightness(0) invert(1); /* alb dinamic */
}

.logo-text {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  font-family: "Atlassian Sans", sans-serif;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #dd1919;
}

.burger-menu {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .burger-menu {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    background: #1f1c18;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: none;
  }

  .show-menu {
    display: block !important;
  }

  .nav-menu li {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .logo-img {
    width: 3rem;
    height: 3rem;
  }

  .nav-menu {
    font-size: 1rem;
  }
}
