*{
    font-family: "liter";
}

@media screen and (max-width: 900px) {
    p{
        font-size: 2rem;
    } 
    h3{
        font-size: 2rem;
      }
    
        
}
@media screen and (max-width: 600px) {
    p{
        font-size: 1.2rem;
    } 

    h3{
        font-size: 1.2rem;
      }
    
        
}